// WORKS SECTION //





  .section-works {
    height: auto;
    width: 100%;
    overflow: hidden;
    // background-image: url("../img/bwkicks.jpg");
    background: #000;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

  }

    h1.works-heading {
      @include sectionHeader;
      color: #fff;
      text-align: center;
    }

    .section-title::after {
      @include headerBar;
      background: #fff;
  }



  .works-container {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: space-evenly;
    margin: 50px auto;
}
    .works {
      position: relative;
      height: 300px;
      width: 300px;
      margin: 25px;
      background: $works-bg;
    }

    .works::before, .works::after {
      content: '';
      position: absolute;
      top: 1.25em;
      bottom: 1.25em;
      left: 1.25em;
      right: 1.25em;
      opacity: 1;
      transition: transform ease-out 250ms;
    }

    .works::before {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: scale(0,1);
    }

    .works::after {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: scale(1,0);
    }

    .works:hover::before {
      transform: scale(1.05, 1);
    }

    .works:hover::after {
      transform: scale(1, 1.05);
    }





    img {
       height: 300px;
       width: 300px;
       display: block;
       opacity: 1;
       transition: opacity ease-out 1s;
       // filter: grayscale(1);
}


     img:hover {
       opacity: 0.5;
       // filter: grayscale(0);
     }


    .works div.works-text {
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       position: absolute;
       color: #fff;
       text-align: center;
       opacity: 0;
       z-index: 1;
       transition: opacity ease-out 250ms;

     }

    .works div.works-text:hover {
       opacity: 1;
     }














  //
  //   .works-container {
  //     width: 70%;
  //     text-align: center;
  //     margin: 100px auto;
  //     display: grid;
  //     grid-template-columns: repeat(3, 1fr);
  //     grid-template-areas:
  //         "works1 works2 works3"
  //         "works4 works5 works6";
  //         position: relative;
  //         // margin: 1em;
  //         // height: 300px;
  //         // width: 100%;
  //
  //
  //
  //     // .works {
  //     //   display: contents;
  //
  //       &>div {
  //         margin: 0 auto;
  //       }
  //
  //       img.works-img {
  //         height: 300px;
  //         width: 300px;
  //         display: block;
  //         filter: grayscale(100%);
  //         transition: all 1s;
  //       }
  //
  //       img.works-img:hover {
  //         filter: grayscale(0);
  //     }
  //
  //       .works-text {
  //         position: relative;
  //         top: 50%;
  //         left: 50%;
  //         transform: translate(-50%, -50%);
  //         opacity: 0;
  //         z-index: 1;
  //         transition: all 1s;
  //         color: #fff;
  //       }
  //
  //     }
  //     .works:hover .works-text {
  //       opacity: 1;
  //
  //
  //   }
  //
  //
  //
  //
  //     .works1 {
  //       display:grid;
  //       grid-area: works1;
  //     }
  //     .works2 {
  //       display:grid;
  //       grid-area: works2;
  //     }
  //     .works3 {
  //       display:grid;
  //       grid-area: works3;
  //     }
  //     .works4 {
  //       display:grid;
  //       grid-area: works4;
  //     }
  //     .works5 {
  //       display:grid;
  //       grid-area: works5;
  //     }
  //     .works6 {
  //       display:grid;
  //       grid-area: works6;
  //     }
  //   }
  // }
