*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

	background-color:#f4f4f4;
	overflow-x:hidden;
	margin: 0;
	padding: 0;
  font-family: 'Raleway', sans-serif;
}


 // NAVBAR //
.hamburger {
  padding: 5px;
  border: 2px solid #fff;
  margin-right: 40px;
  margin-top: -2px;

}

.hamburger > div {
  height: 3px;
  width: 50px;
  background-color: #fff;
  margin-bottom: 10px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.active{
    a {
         // color:#F38A8A;
         // border-top: 1px solid black;
         // border-bottom: 1px solid black;
         text-decoration: line-through !important;

        }

      a:hover {
        color: #fff !important;
      }
      }

.navbar {
	background-color: rgba(0,0,0,0);
	overflow:hidden;
	height: 80px;
  border-bottom: 1px solid #fff;
  position: fixed;
  width:100%;
  transition: .5s;
  z-index: 999;
}

.navbar a {
	float: right;
	display: inline;
  color:#fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	transition: all .5s;
}

.navbar-nav {
  max-width:1170px;
  margin: 0 auto;
}

li.logo {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-left: 75px;
  color: #fff;
  transition: .5s;
}

.navbar ul .nav-left
{
	margin: 25px 0 0 0;
	list-style: none;
  display: flex;
  justify-content: flex-start;
}

.navbar ul .nav-right {
	margin: -40px 75px 0 0;
	list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navbar a:hover {
	// background-color:#ddd;
	color:#777777;
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index:1000;
	top:0;
	left:0;
	background-color:#111;
	opacity:0.9;
	overflow-x: hidden;
	padding-top:60px;
	transition:0.5s;
}

.side-nav a
{
	padding: 20px 0 20px 0;
	text-decoration: none;
	font-size: 22px;
	color:#ccc;
	display:block;
  text-align: center;
	transition:0.3s;
}

.side-nav a:hover {
	color: #fff;
}

.side-nav .btn-close {
	position:absolute;
	top:0;
	right:22px;
	font-size: 36px;
	margin-left:50px;
}

#main {
	transition: margin-left 0.5s;
	padding: 20px;
	overflow:hidden;
	width:100%;
}

@media(max-width:769px) {
	.navbar ul .nav-right
  {
    display:none;
  }
}

@media(min-width:769px) {
	.open-slide
  {
    display:none;
  }
}

// MAIN SECTION //

.section-main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../img/fullscreen_image.JPG");
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      "main main2";

  .main-content {
    grid-area: main;
  }

  h1.main-heading {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    position: relative;

  }

  .profession {
    color: #fff;
    top: 40%;
    position:relative;
    text-align: center;
    transition: all 1s;
  }

.social_icons {
  grid-area: main;
    top: 45%;
    position: relative;
    text-align: center;
}

.social_icons li {
  display: inline;
  }

.social_icons li .icon-outer {
  height: 55px;
  width: 55px;
}

.custom-icon {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: all 1s;
}

.custom-icon:hover {
  // border: none;
  height: 50px;
  width: 50px;
}
  .facebook:hover {
    background-color: #3b5998;
    border: 1px solid #3b5998;
  }

  .twitter:hover {
    background-color: #1dcaff;
    border: 1px solid #1dcaff;
  }
  .instagram:hover {
    background-color: #bc2a8d;
    border: 1px solid #bc2a8d;
  }
  .pinterest:hover {
    background-color: #C92228;
    border: 1px solid #C92228;
  }
  .dribbble:hover {
    background-color: #ea4c89;
    border: 1px solid #ea4c89;
  }




.social_icons a {
  text-decoration: none;
}


.section-main .social_icons a:hover{
	border:2px solid transparent;
}

.section-main .overlay .social_icons a + a{
	margin-left: 10px;
}


@media(max-width:769px) {
  h1.main-heading {
    font-size: 2rem;
    margin: 0 auto;
    width:90%;
    display:block;
  }
}
}

// ABOUT SECTION //

  .section-about {
    height: 150vh;
    width: 100%;
    overflow: hidden;

    .about-heading {
      font-size: 3rem;
      top: 5rem;
      text-align: center;
      margin-top: 6rem;
    }

    .section-title::after {
    position: absolute;
    // top: 3rem;
    left: calc(50% - 25px);
    width: 50px;
    height: 1px;
    content: '';
    background: #000;
  }

    img.profile-image {
      height: 350px;
      width: 350px;
      margin: 4rem auto;
      border-radius: 100%;
      display: block;
    }
  }
  // RESUME SECTION //

    .section-resume {
      height: 100vh;
      width: 100%;
      overflow: hidden;
      background: rgb(149, 149, 149);
      background-image: url("../img/fullscreen_image.JPG");
      background-position: center;
      background-attachment: fixed;
    }

  // WORKS SECTION //

    .section-works {
      height: 100vh;
      width: 100%;
      overflow: hidden;
      background: rgb(73, 73, 73);

    }

    // CONTACT SECTION //

      .section-contact {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        background: #fff;

      }
